* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold !important;
  direction: rtl;
  border: none;
  outline: none;
  max-height: 500px !important; /*570px*/
  max-width: 370px !important;
}

body {
  background-color: rgba(0, 0, 0, 0.226);
}
#plan {
  max-width: 360px;
  min-width: 360px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.sections {
  background-color: rgb(255, 254, 254);
 
}


span {
  font-weight: 900;
  margin: 0;
  margin-left: 3px;
  margin-right: 3px;
  text-align: right;
  font-size: 1rem;
}

#plans {
  min-height: fit-content !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  width: 360px; /* 100% */
  height: fit-content !important;
  max-height: 400px !important;
  border: 1px solid rgb(20, 20, 20) !important;
}

.cell1 {
  max-width: 15px;
}
.cell2 {
  /**/
  max-width: 50px !important;
}
.cell3 {
  max-width: 100px !important; /*110px*/
  text-align: center;
  font-size: 13px !important; /* 14*/
  padding: 0 2px !important;
}

.cell4 {
  max-width: 300px !important; /*280*/
  min-width: 155px !important;
}
.cell1,
.cell2,
.cell3,
.cell4,
.cell5 {
  background-color: rgb(250, 250, 250);
  text-align: center;
  color: rgb(16, 17, 17);
  font-weight: bold !important;
  font-size: 12px !important;
}

.cell5 {
  max-width: 55px !important; /* 0% */
  min-width: 55px !important;
  font-size: 14px !important;
  padding: 0 auto;
  line-height: 11px;
}
#printer {
  border-right: 2px solid rgba(20, 20, 22, 0.336);
  z-index: 100;
  background-color: rgba(7, 7, 6, 0.363) !important;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
  font-size: 1.2rem;
  animation: shrinko 9s linear ease-in-out;
  transition: 5s ease-in-out;
  min-height: 30px;
  min-width: 30px;

}

#tabbing{
  background-color: rgba(52, 70, 70, 0.438);
    
  
}

#information {
  position: relative;
  left: 0;
  right: 0;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  resize: none;
  background-color: #00000002;
  background-color: #0000003a;
  border: 2px solid rgba(255, 0, 0, 0.014);
  font-size: 1.2rem;
  min-width: 150px ;
  max-width: 150px ;
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-shadow: 1px 1px 1px #000;
   
  
}
#tools{ 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 10px;
  text-align: center;
  width: 70px ;
  min-width: 70px;
  max-width: 70px ;
  height: 30px;
  min-height: 30px;
  background-color: #00000002;
  background-color: #0000003a;
  border: 2px solid rgba(255, 0, 0, 0.014);
  font-size: 1.2rem;
  overflow: hidden;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 2px 5px 8px 10px rgba(0, 0, 0, 0.3);
z-index: 1000;
}
#tick{
  background-color: #00000002 !important;
  border: 2px solid rgba(255, 0, 0, 0.014);
  font-size: 1.2rem;
  overflow: hidden;
  text-shadow: 1px 1px 1px #000;
  color: aliceblue;

}
.btns{
  background-color: #00000002;
  border: 2px solid rgba(255, 0, 0, 0.014);
  font-size: 1.2rem;
  overflow: hidden;
  text-shadow: 1px 1px 1px #000;
  color: aliceblue;
}
#info-title,
li {
  background-color: #00000057;
  padding: 0 1px;
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #000;
  
}
#mylist{
  padding: 5px 0;
  background-color: rgb(10, 117, 117); 
}
.makesmall{

  transition: 5s ease-in-out;
  background-color: rgb(123, 138, 133);
  width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
    box-shadow: 2px 5px 8px 10px rgba(0, 0, 0, 0.3);
}
.makebig{

  transition: 5s ease-in-out;
  background-color: rgb(52, 63, 59);

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.colorsbtn{
width: 100px !important;
  min-width: 100px !important;
  height: 100px !important;
  min-height: 100px !important;
  border: 2px solid white;
}
.yellow {
  background-color: yellow;
  color: yellow;
  text-shadow: 1px 1px 1px yellow;
  
}
.red {
  background-color: rgb(230, 37, 37);
  color: rgb(238, 17, 17);
  text-shadow: 1px 1px 1px rgb(243, 14, 14);
  
}
#printer button {
  padding: 0.4rem;
  font-size: 1rem;
  
}
#printer button:hover {
  cursor: pointer;
}
#printer:hover {
  animation: shrinko 5s linear ease-in-out;
}
#printer #provider {
  padding: 0.5rem;
  font-size: 0.7rem;
}
.providers {
  border: 1px solid rgb(69, 82, 81);
  margin-bottom: 22px;
  padding: 1rem;
  background-color: rgba(16, 36, 36, 0.014);
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 2px;
}
#providerinput {
  background-color: rgba(0, 0, 0, 0.267) !important;
  font-size: 35px;
  color: rgb(82, 119, 116);
  width: 75px !important;
  border: 1px solid rgb(152, 170, 125);
  text-align: right;
}
#providerbtn {
  background-color: rgba(0, 0, 0, 0.541) !important;
  font-size: 15px;
  color: rgb(118, 139, 139);
  border: 1px solid rgb(152, 170, 125);
  text-align: center;
}
.printers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*margin-left: 16px;*/
  padding: 0.1rem;
  background-color: rgba(0, 0, 0, 0.418);
  width: 155px;
  background-color: #00000002 !important;
}
#printbtn {
  background-color: rgba(24, 29, 24, 0.836);
  color: rgb(184, 211, 202);
  border: 3px solid rgba(13, 14, 13, 0.5);
  text-shadow: 1px 1px 1px #000;
  box-shadow: 2px 5px 8px 10px rgba(0, 0, 0, 0.3);
}
#printbtn:hover {
  cursor: pointer;
}
#activeprintbtn {
  background-color: rgba(134, 153, 25, 0.541) !important;
  font-size: 12px;
  color: antiquewhite;
  text-align: center;
  border: 3px solid rgba(162, 214, 41, 0.5);
  text-shadow: 1px 1px 1px #000;
  /*rotate: 10deg;*/
  box-shadow: 2px 5px 8px 10px rgba(0, 0, 0, 0.3);
}
#activeprintbtn:hover {
  cursor: pointer;
  /*rotate: 0deg;*/
}

@keyframes shrinko {
  0% {
    width: 27%;
  }
  100% {
    width: 7%;
  }
}

@media print {
  #printer {
    z-index: 0;
    display: none;
  }
  #plan {
    display: block;
    width: 100vw;
    border: unset;
    filter: contrast(200%);
  }

  .cell4,
  .cell5 {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(16, 17, 17) !important;
    font-weight: bold !important;
    text-shadow: none !important;
  }
  td {
    border: 1px solid black;
  }
  input {
    border: 1px solid black;
  }
  .rows {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
  }
}
/* Styles for screens 768px or smaller (mobile sizes) */
@media screen and (min-width: 768px) {
  body {
    display: flex;
    margin: 0 auto !important;
    background-color: #b9b0b0;
    max-width: 0vw;
    min-width: 100vw ;
    width: 100vw ;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .printers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    width: 360px;
    min-width: 360px;
    max-width: 360px; /* 370px */
    background-color: rgb(255, 254, 254);

  }
  #printer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 22px auto;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    padding: 20px ; /*new css */
    display: flex !important; /* flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 540px;
    /*border:1px solid rgba(255, 0, 0, 0) !important;*/
  }
  .printer-big{
    /**/
    background-color: white;
    width: 360px;
    min-width: 360px;
    max-width: 360px;
  }


 .printer-shrink {
  box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0) !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: none;
    top: 0;
    left:20px;
    bottom: 0;
    width: 26px !important;
    min-width: 26px !important;
    max-width: 26px !important;
     /*new css */
    display: flex !important; /* flex*/
    flex-direction: row;
    justify-content:left;
    align-items:end;
    min-height: 540px;
    align-self: left;
    /*border:1px solid rgba(255, 0, 0, 0) !important;*/
    h3,div, span,#nextBtn, #prevousBtn , #info-title{

      max-width: 150px !important;
      min-width: 150px !important;
      font-size: 13px !important;
      margin: 0;
      padding: 0;

    }
    #tabbing{
      min-height: 33px !important;
      max-height: 33px !important;
      border: none !important;
        max-width: 100px !important;
      min-width: 100px !important;
      background-color: transparent;
      box-shadow: none;
       
    }
    #previousBtn{
      position:relative;
      background-color: rgba(145, 76, 59, 0.281) !important;
      background:linear-gradient(to left, rgb(26, 25, 25), grey, transparent);
      max-width: 50px !important;
      min-width: 50px !important;
      border-radius: 50%;
      span{
        font-size: 20px !important;
        color: #000 !important;
      }
    }
    #nextBtn{
      position:relative;
      background-color: rgba(71, 124, 71, 0.253) !important;
      background:linear-gradient(to right, rgb(20, 20, 20), grey, transparent);
      max-width: 50px !important;
      min-width: 50px !important;
      border-radius: 50%;
      span{
        font-size: 20px !important;
       color: #000 !important;
      }
    }
    #information{
      display: none !important;
    }
    .printers{
      background-color: #000;
      #printbtn{
        background-color: rgb(9, 99, 99) !important;
      }
      #activeprintbtn{
        background-color: rgb(95, 110, 5) !important;
      
      }
    }
  }








  #plan {
    width: 360px !important;
    min-width: 360px !important;
    max-width: 360px !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #information {
    display: flex !important; /*for mobiles */
    width: 360px !important;
    min-width: 360px !important;
    max-width: 360px !important;
    border: 1px solid rgb(240, 211, 211) !important;
    #mylist{
      display: flex !important; /*for mobiles */
      width: 360px !important;
      min-width: 360px !important;
      max-width: 360px !important;

    }
  }
  .providers {
    display: flex !important; /*for mobiles */
    width: 360px !important;
    min-width: 360px !important;
    max-width: 360px !important;
    border: 5px solid rgba(222, 231, 137, 0.911) !important;
  }
}
/* Styles for screens 768px or smaller (mobile sizes) */
@media screen and (max-width: 768px) {
  .printers {
    flex-direction: column;
  }
}
/* Styles for screens 768px or smaller (mobile sizes) */
@media screen and (max-width: 375px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold !important;
    direction: rtl;
    border: none;
    outline: none;
    max-height: 500px !important; /*570px*/
    max-width: 360px !important;
  }
  body {
    display: flex;
    margin: 0 auto;
  }
  .printers {
    flex-direction: column;
  }
  tr,
  td,
  .cell1,
  .cell2,
  .cell3,
  .cell4,
  .cell5 {
    background-color: rgb(250, 250, 250);
    text-align: center;
    color: rgb(16, 17, 17);
    font-weight: bold !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .rows {
    padding: 0px auto !important;
    margin: 0px auto !important;
  }
  .cell5 {
    width: 60px !important;
    max-width: 60px !important;
    min-width: 60px !important;
    /*border:1px solid red !important;*/
  }

  #printer {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 340px;
    min-width: 340px;
    max-width: 340px;
    padding: 20px !important; /*new css */
    display: flex !important; /* flex*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border:1px solid rgba(255, 0, 0, 0) !important;*/
  }
  #information {
    display: none !important; /*for mobiles */
    width: 370px;
    min-width: 370px;
    max-width: 370px;
    border: 1px solid rgb(240, 211, 211) !important;
  }
  .providers {
    display: none !important; /*for mobiles */
    width: 370px;
    min-width: 370px;
    max-width: 370px;
    border: 5px solid rgba(222, 231, 137, 0.911) !important;
  }
  .printers {
    display: none !important; /*for mobiles */
    background-color: rgb(155, 151, 146) !important;
    width: 370px ;
    min-width: 370px;
    max-width: 370px;
    border: 2px solid rgb(250, 246, 246) !important;
    border-radius: 25px;
  }
  #plan {
    width: 360px !important;
    min-width: 360px !important;
    max-width: 360px !important;
  }
  table {
    /*width: 100%;/* 100% */
    height: fit-content !important;
    max-height: 400px !important;
    border: 1px solid rgba(20, 20, 20, 0) !important;
    margin: 0 auto;
  }
}
